html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 0, 5);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 5, 1) 0%,
    rgb(17, 17, 94) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  overflow: auto;
  height: 100%;
}

h1 {
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

img {
  max-height: 120px;
  margin-left: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

input[type="text"] {
  width: 100%;
}

label {
  margin: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  border: 2px rgb(100, 100, 100) solid;
  border-radius: 10px;
  background-color: rgb(220, 221, 228);
}

textarea {
  width: 80%;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 300px;
  background-color: rgb(220, 221, 228);
  border: 4px rgb(31, 31, 167) solid;
}

button {
  margin: 1rem;
}

button[type="submit"] {
  font-size: x-large;
}

button:hover {
  background-color: paleturquoise;
}

.container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

#alert {
  color: lawngreen;
}

.hidden {
  visibility: hidden;
}

.cmd-display {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.example {
  font-size: smaller;
}

.light-txt {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > p {
  font-size: x-large;
  color: white;
}

span i {
  margin: 5px;
}

span a {
  color: white;
}

span a:visited {
  color: aqua;
}
